{% extends 'todo/../base.html' %}
{% block title %}
    {{ user_obj.get_full_name }}
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
<div class="container">

    <h3 class="mt-5">User: {{ user_obj.username }}</h3>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <a href="{{ user_obj.profile.github_account }}" class="d-block mt-4"> Github_account</a>
    <textarea name="" id="" cols="30" rows="10" readonly>{{ user_obj.profile.about }}</textarea>
    {% include 'partial/project_list.html' %}
{% endblock %}