    <h3 class="mt-5 mb-4">Projects List</h3>
        {% for project in projects %}
        <p>Title:<a href="{% url 'watch_project' project.pk %}">{{ project.title }}</a></p>
        <p>Date of begining: {{ project.begin_date }}</p>
        <p>Expiration date: {{ project.end_date }}</p>
        {% if perms.webapp.change_project  %}
            <a href="{% url 'update_project' project.pk %}"><button type="button" class="btn btn-primary">Обновить</button></a>
        {% endif %}
        {% if perms.webapp.delete_project  %}
            <a href="{% url 'delete_project' project.pk %}"><button type="button" class="btn btn-danger">Удалить</button></a>
        {% endif %}
        <br><br>
        {% endfor %}