{% extends 'base.html' %}
{% block title %}Create TODO{% endblock %}
{% block content %}

<form action="" method="POST">
{% csrf_token %}
    <div class="container">
    <h1>Add ToDo action</h1>
    Статус: <select name="status" id="">
        {% for Status in Statuses %}
        <option value={{ Status.0 }}>{{ Status.1 }}</option>
        {% endfor %}
    </select>
    <br>
    <textarea name="description" id="" cols="30" rows="3" placeholder="Короткое описание"></textarea>
    <br>
    <textarea name="long_description" id="" cols="30" rows="5" placeholder="Описание"></textarea>
    <br>
    <input  name="date" type="date" value="01-01-0001">
    <br>
    <br>
    <button type="submit" class="btn btn-secondary">Отправить</button>
    </div>
</form>
{% endblock %}
</body>
</html>