{% extends 'base.html' %}
{% block title %}Update TODO{% endblock %}
{% block content %}

<form action="" method="POST">
{% csrf_token %}
    <div class="container">
    <h1>Update ToDo action</h1>
    {% include 'partial/form_field.html'  with field=form.status%}
    {% include 'partial/form_field.html'  with field=form.description%}
    {% include 'partial/form_field.html'  with field=form.long_description%}
    {% include 'partial/form_field.html'  with field=form.deadline%}
        <br>
    <button type="submit" class="btn btn-secondary">Обновить</button>
    </div>
</form>
{% endblock %}
</body>
</html>