{% extends 'base.html' %}
{% block title %}
    TODO Action
{% endblock %}
{% block menu %}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'add' %}">Add new TODO <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'update_todo' to_do_action.pk %}">Update TODO <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'delete_todo' to_do_action.pk %}">Delete TODO <span class="sr-only">(current)</span></a>
        </li>
{% endblock %}
{% block content %}
<div class="container">
    <p class="mt-5">Description: {{ to_do_action.description }}</p>
    <p>Status: {{ to_do_action.status }}</p>
    <p>Deadline: {{ to_do_action.deadline }}</p>
    <div class="d-flex"><p class="d-inline">Long_description: </p> <pre class="border d-inline-block mb-0 ml-2">{{ to_do_action.long_description }}</pre>
    </div>
    <br><br>
{% endblock %}
</body>
</html>