{% extends 'todo/../base.html' %}
{% block title %}
TODO List
{% endblock %}
{% block menu %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'projects' %}">Watch Prrojects <span class="sr-only">(current)</span></a>
      </li>
{% endblock %}
{% block search %}
    <form class="form-inline my-2 my-lg-0 ml-auto" method="GET" action="">
        <label for="{{ form.search.id_for_label }}">{{ form.search.label }}</label>
        {{ form.search }}
        <input type="submit" value="Search">
        {% for error in form.search.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </form>
{% endblock %}
{% block content %}

    <h3 class="mt-5 mb-4">ToDo List</h3>
        {% for to_do_action in to_do_list %}
        <p>Summary: <a href="{% url 'watch_todo' to_do_action.pk %}">{{ to_do_action.summary }}</a></p>
        <p>Description: {{ to_do_action.description }}</p>
        <p>Status: {{ to_do_action.status }}</p>
        <p>Created at: {{ to_do_action.created_at }}</p>
            {% if request.user.is_authenticated %}


           <form class="d-inline" action="{% url 'delete_todo' to_do_action.pk %}" method="get">
            <button type="submit" class="btn btn-secondary">Удалить</button>
            </form>
            <a href="{% url 'update_todo' to_do_action.pk %}"><button type="button" class="btn btn-primary">Обновить</button></a>
            {% endif %}
        <br><br>
        {% endfor %}
        {% include 'partial/pagination.html' %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>