{% extends 'todo/../base.html' %}
{% block title %}
Projects List
{% endblock %}
{% block menu %}
    {% if perms.webapp.add_project %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'add project' %}">Create new Project <span class="sr-only">(current)</span></a>
      </li>
    {% endif %}
{% endblock %}
{% block content %}

    <h3 class="mt-5 mb-4">Projects List</h3>
        {% for project in projects %}
        <p>Title:<a href="{% url 'watch_project' project.pk %}">{{ project.title }}</a></p>
        <p>Date of begining: {{ project.begin_date }}</p>
        <p>Expiration date: {{ project.end_date }}</p>
        {% if perms.webapp.change_project  %}
            <a href="{% url 'update_project' project.pk %}"><button type="button" class="btn btn-primary">Обновить</button></a>
        {% endif %}
        {% if perms.webapp.delete_project  %}
            <a href="{% url 'delete_project' project.pk %}"><button type="button" class="btn btn-danger">Удалить</button></a>
        {% endif %}
        <br><br>
        {% endfor %}
        {% include 'partial/pagination.html' %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>