{% extends 'todo/../base.html' %}
{% block title %}
    Project
{% endblock %}
{% block menu %}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'project_todo_add' project.pk %}">Add TODO in project <span class="sr-only">(current)</span></a>
        </li>
{#        <li class="nav-item active">#}
{#        <a class="nav-link" href="{% url 'update_todo' to_do_action.pk %}">Update TODO <span class="sr-only">(current)</span></a>#}
{#        </li>#}
{#        <li class="nav-item active">#}
{#        <a class="nav-link" href="{% url 'delete_todo' to_do_action.pk %}">Delete TODO <span class="sr-only">(current)</span></a>#}
{#        </li>#}
{% endblock %}
{% block content %}
<div class="container">
    <p class="mt-5">Title: {{ object.title }}</p>
    <div class="d-flex"><p class="d-inline">Description: </p> <pre class="border d-inline-block mb-0 ml-2">{{ object.description }}</pre>
    </div>
    <p>Start date: {{ object.begin_date }}</p>
    <p>End date: {{ object.end_date }}</p>
    <br><br>
    {% for to_do_action in object.projects.all %}
        <p>Summary: <a href="{% url 'watch_todo' to_do_action.pk %}">{{ to_do_action.summary }}</a></p>
        <p>Description: {{ to_do_action.description }}</p>
        <p>Status: {{ to_do_action.status }}</p>
        <p>Created at: {{ to_do_action.created_at }}</p>
           <form class="d-inline" action="{% url 'delete_todo' to_do_action.pk %}" method="get">
            <button type="submit" class="btn btn-secondary">Удалить</button>
            </form>
            <a href="{% url 'update_todo' to_do_action.pk %}"><button type="button" class="btn btn-primary">Обновить</button></a>
        <br><br>
    {% endfor %}

{% endblock %}